## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1
notifications:
  email: false
git:
  depth: 99999999

matrix:
 allow_failures:
 - julia: nightly

## uncomment and modify the following lines to manually install system packages
#addons:
#  apt: # apt-get for linux
#    packages:
#    - gfortran
#before_script: # homebrew for mac
#  - if [ $TRAVIS_OS_NAME = osx ]; then brew install gcc; fi

script:
 - julia --check-bounds=yes --color=yes -e "using Pkg; Pkg.test(coverage=true)"
 # Test Weave docs
 - julia --color=yes -e 'using Pkg; Pkg.add(["Weave", "Plots"])'
 - julia --color=yes -e 'using Weave; weave("example/DataInterpolations.jmd")'
after_success:
  # push coverage results to Codecov
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
